<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC Learning</title>
</head>
<body>
    <div style="font-size: 20px; text-align: right; color: cornflowerblue; font-family: 'JetBrains Mono',monospace">
        {%if user==null%}
        <span><a href="/User/login">{{message('login')}}</a></span>
        <span><a href="/User/register">{{message('register')}}</a></span>
        {%else%}
        <span>{{message('welcome')}},<a href="/User/profile">{{user.name}}</a></span>
        <span><a href="/User/logout">{{message('logout')}}</a></span>
        {%endif%}
    </div>

    <div style="text-align: center; font-size: 20px">
        {%block main%}
        {%endblock%}
    </div>
</body>
</html>